.container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}

.table thead th {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 14px;
}

.table td, .table th {
  vertical-align: middle !important;
  text-align: center;
  padding: 15px;
  font-size: 15px;
}



.badge {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
}

button {
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 6px;
}

.expired {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

.final-status {
  font-weight: bold;
  color: green;
  font-size: 14px;
}

@media (max-width: 768px) {
  .table td, .table th {
    font-size: 13px;
    padding: 10px;
  }

  h2 {
    font-size: 22px;
  }
}
