.appointments-container {
    width: 100%;
    padding: 50px;
}

.appointments-title {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.appointments-table thead {
    background-color: #f8f8f8;
}

.appointments-table th,
.appointments-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.appointments-table th {
    font-weight: 600;
}

.appointments-table tr:hover {
    background-color: #f1f1f1;
}

.no-appointments {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 100px;
}

.status {
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
}

.status.pending {
    background-color: #b69b21;
    color: #222 !important;
}

.status.in-review {
    background-color: #29b6f6;
}

.status.resolved,
.status.accepted {
    background-color: #4caf50;
}

.status.rejected {
    background-color: #ef5350;
}

.status.closed {
    background-color: #6d4c41;
}

.view-pdf-link {
    color: #0d47a1;
    text-decoration: underline;
    font-weight: 500;
}

.view-pdf-link:hover {
    color: #06468f;
}

.review-btn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}
.review-btn:hover {
    background-color: #3a913e;
}
.disabled-btn {
    padding: 8px 16px;
    background-color: #ccc;
    color: #666;
    border: none;
    border-radius: 6px;
    cursor: not-allowed;
}
