.clear-chat-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
}

.chat-header h5 {
    margin: 0;
}

