.message-bubble {
  margin: 8px;
  max-width: 60%;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  word-break: break-word;
  position: relative;
  line-height: 1.4;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}
.received {
    background-color: #fff;
    align-self: flex-start;
}


.message-content {
  font-size: 14px;
}

.message-time {
  display: block;
  font-size: 10px;
  color: gray;
  margin-top: 5px;
  text-align: right;
}


