.navbardiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 3rem;
  background: white;
  position: relative;
  z-index: 1000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

.logo img {
  width: 200px;
}

.uflex {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
}

.uflex li {
  font-size: 2rem !important;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
  font-weight: 500;
  font-size: 1.3rem;
}

.uflex li:hover {
  color: #D2AB2D;
}

.joinbtn {
  padding: 1rem 1.2rem;
  background-color: #D2AB2D;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: #b29023;
  transform: scale(1.05);
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* Responsive */
@media (max-width: 768px) {
  .uflex {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 270px;
    height: 100%;
    background: white;
    padding: 80px 20px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    gap: 20px;
  }

  .uflex li {
    font-size: 1.5rem !important;
  }

  .uflex.open {
    right: 0;
  }

  .menu-btn {
    display: block;
  }

  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: block;
    width: 100%;
  }

  .only-mobile .joinbtn {
    width: 100%;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
}

@media (min-width: 769px) {
  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }
}
